body {
  font-size: 2rem;
  background-color: rgb(43, 199, 238);
 
}
nav{

  font-size: 3rem;


}

button{

  width: 10vw;
  height: 3vw;
  margin-left: 40px;

}

label{

  display:inline-block;
  padding:10px 10px 10px 10px;

}

li{

  font-size: 2rem;
}